<html>
    <head>
        <title>Blinkt Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1 style="font-family: Verdana;">Blinkt Dashboard</h1>
        <p style="font-family: Verdana;">A Python3 and Flask dashboard to control a Blinkt pHat for Raspberry Pis.</p>
        <h2 style="font-family: Verdana;">Presets</h2>
        <a href="/ff0000" style="font-size: 150%;"><button style="font-size:150%;background-color:#ff0000;">Red</button></a>
        <a href="/ffff00" style="font-size: 150%;"><button style="font-size:150%;background-color:#ffff00;">Yellow</button></a>
        <a href="/00ff00" style="font-size: 150%;"><button style="font-size:150%;background-color:#00ff00;color:#ffffff;">Green</button></a>
        <a href="/00ffff" style="font-size: 150%;"><button style="font-size:150%;background-color:#00ffff;">Cyan</button></a>
        <a href="/0000ff" style="font-size: 150%;"><button style="font-size:150%;background-color:#0000ff;color:#ffffff;">Blue</button></a>
        <a href="/ff00ff" style="font-size: 150%;"><button style="font-size:150%;background-color:#ff00ff;">Magenta</button></a>
        <a href="/ffffff" style="font-size: 150%;"><button style="font-size:150%;background-color:#ffffff;">White</button></a>
        <a href="/clear" style="font-size: 150%;"><button style="font-size:150%;background-color:#000000;color:#ffffff;">Off</button></a>
    </body>
</html>